<div class="tool-tips m-5 p-3 border border-info border-4 rounded-3">
  <h1>Tool-Tips</h1>
  <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
    Tooltip on top
  </button>
  <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
    Tooltip on right
  </button>
  <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
    Tooltip on bottom
  </button>
  <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">
    Tooltip on left
  </button>
</div>

<div class="dropdown m-5 p-3 border border-info border-4 rounded-3">
  <h1>Drop-Down</h1>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

<div class="m-5 p-3 border border-info border-4 rounded-3">
  <h1>Popover</h1>
  <button type="button"
        class="btn btn-lg btn-danger"
        data-bs-toggle="popover"
        title="Popover title"
        data-bs-content="Amazing content, right ?">
    Click to toggle popover
  </button>
</div>

<div class="m-5 p-3 border border-info border-4 rounded-3">
  <h1>Modal</h1>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <h5>Popover in a modal</h5>
          <p>This <button type="button" class="btn btn-secondary popover-test"  data-bs-toggle="popover" title="Popover title" data-bs-content="Popover body content is set in this attribute.">button</button> triggers a popover on click.</p>
          <hr>
          <h5>Tooltips in a modal</h5>
          <p>
            <a href="#" class="tooltip-test" title="Tooltip" data-bs-toggle="tooltip">This link</a> and <a href="#" class="tooltip-test" title="Tooltip" data-bs-toggle="tooltip">that link</a> have tooltips on hover.
          </p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stimulus m-5 p-3 border border-info border-4 rounded-3">
  <h1>Stimulus</h1>
  <p>The text below was inserted by the Stimulus
    <code>hello_controller.js</code>
  </p>
  <%= tag.p data:{controller: 'hello'} %>
</div>
